<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <input formControlName="inputFormField" placeholder="{{ 'forgot-password.placeholder' }}">

  <div *ngIf="isError()"
       [hidden]="isHidden()">
    input max length error
  </div>
</form>
